.row
  %aside.col-md-4
    %section
      %h1
  .col-md-8
    - if @bookmarks.any?
      %h3
        Bookmarks (#{@bookmarks.count})
      %ol
        = render @bookmarks
      = will_paginate @bookmarks
s
