%h1 Mayopadでできること
.about_description
  %p
    Twitterのように使えます
  %p
    画像投稿できます
  %p
    ログイン認証機能もあります
  %p
    URL貼ったらリンク飛べます
  %p
    検索機能もあります(can't use in production because Websolr add-ons are not free)
  %p
    Markdownでpostできます
  %p
    ブックマーク機能もあります
